In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as image
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import PIL
import os
from PIL import Image

In [2]:
f0 = []
for i in range(0,4132):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\0\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L") #converted to gray scale
    photos_arr_0 = np.array(photos_gray_0) #matrix to numpy array
    f0.append(photos_arr_0.ravel()) #numpy array to df ( flatten)
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x23778697D90>
photos_array_size 784

In [3]:
f1 = []
for i in range(0,4684):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\1\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L")
    photos_arr_0 = np.array(photos_gray_0)
    f1.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x237748C42B0>
photos_array_size 784

In [4]:
f2 = []
for i in range(0,4177):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\2\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L")
    photos_arr_0 = np.array(photos_gray_0)
    f2.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x237785909A0>
photos_array_size 784

In [5]:
f3 = []
for i in range(0,4351):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\3\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L")
    photos_arr_0 = np.array(photos_gray_0)
    f3.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x23778697D00>
photos_array_size 784

In [6]:
f4 = []
for i in range(0,4072):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\4\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L")
    photos_arr_0 = np.array(photos_gray_0)
    f4.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x237748C4F70>
photos_array_size 784

In [7]:
f5 = []
for i in range(0,3795):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\5\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L")
    photos_arr_0 = np.array(photos_gray_0)
    f5.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x237748C4F70>
photos_array_size 784

In [8]:
f6 = []
for i in range(0,4137):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\6\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L")
    photos_arr_0 = np.array(photos_gray_0)
    f6.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x23778697D00>
photos_array_size 784

In [9]:
f7 = []
for i in range(0,4401):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\7\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L")
    photos_arr_0 = np.array(photos_gray_0)
    f7.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x237748C43A0>
photos_array_size 784

In [10]:
f8 = []
for i in range(0,4063):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\8\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L")
    photos_arr_0 = np.array(photos_gray_0)
    f8.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x237748C4340>
photos_array_size 784

In [11]:
f9 = []
for i in range(0,4188):
    photos = Image.open(r"C:\Users\ADMIN\Downloads\mnist_data (1)\9\img_{}.png".format(i))
    photos_gray_0 = photos.convert("L") 
    photos_arr_0 = np.array(photos_gray_0)
    f9.append(photos_arr_0.ravel())
print("gray image shape:",photos_gray_0)
print("photos_array_size",photos_arr_0.size)

gray image shape: <PIL.Image.Image image mode=L size=28x28 at 0x237798F4AC0>
photos_array_size 784

In [12]:
df0 = pd.DataFrame(f0)
df1 = pd.DataFrame(f1)
df2 = pd.DataFrame(f2)
df3 = pd.DataFrame(f3)
df4 = pd.DataFrame(f4)
df5 = pd.DataFrame(f5)
df6 = pd.DataFrame(f6)
df7 = pd.DataFrame(f7)
df8 = pd.DataFrame(f8)
df9 = pd.DataFrame(f9)

In [13]:
df0["label"]=0
df1["label"]=1
df2["label"]=2
df3["label"]=3
df4["label"]=4
df5["label"]=5
df6["label"]=6
df7["label"]=7
df8["label"]=8
df9["label"]=9

In [14]:
data = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9], axis=0)

In [15]:
data

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
1,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
3,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
4,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4183,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
4184,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
4185,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
4186,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
4187,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9

In [16]:
data.to_csv('df.csv', index=False)

In [17]:
df = pd.read_csv (r'C:\Users\ADMIN\Downloads\mnist_data (1)\df.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
1,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
3,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
4,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41996,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41997,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41998,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41999,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9

In [18]:
df =  pd.read_csv (r'C:\Users\ADMIN\Downloads\mnist_data (1)\df.csv') 
df

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
1,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
3,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
4,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41996,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41997,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41998,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41999,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9

In [19]:
x = df.iloc[:,0:784]
y = df["label"]

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, train_size=0.7, random_state=100)

## KNN-CLASSIFIER

In [21]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [22]:
y_test_pred_knn = classifier.predict(X_test)

In [23]:
knn_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_knn})
knn_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [24]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_test_pred_knn))

0.9655582890246805

## Logistic-Regression

In [25]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()
logistic.fit(X_train, y_train)

LogisticRegression()

In [26]:
y_test_pred_log = logistic.predict(X_test)

In [27]:
knn_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_log})
knn_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [28]:
print(accuracy_score(y_test,y_test_pred_log))

0.9207999365129752

## Support Vector Machines

In [29]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)

SVC()

In [30]:
y_test_pred_svc = svc.predict(X_test)

In [31]:
svm_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_svc})
svm_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [32]:
print(accuracy_score(y_test,y_test_pred_svc))

0.9758749305610666

## Decision-Tree

In [33]:
from sklearn.tree import DecisionTreeClassifier
DTclassifier  = DecisionTreeClassifier()
DTclassifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [34]:
y_test_pred_DTC = DTclassifier.predict(X_test)

In [35]:
dtc_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_DTC})
dtc_df.head()

       Actual  Predicted
21028       4          4
35662       8          4
7969        1          1
16537       3          3
36659       8          8

In [36]:
print(accuracy_score(y_test,y_test_pred_DTC))

0.8526307435917785

# Random-Forest

In [37]:
from sklearn.ensemble import RandomForestClassifier
RFclassifier = RandomForestClassifier()
RFclassifier.fit(X_train, y_train)

RandomForestClassifier()

In [38]:
y_test_pred_rtc = RFclassifier.predict(X_test)

In [39]:
rfc_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_rtc})
rfc_df.head()

       Actual  Predicted
21028       4          4
35662       8          8
7969        1          1
16537       3          3
36659       8          8

In [40]:
print(accuracy_score(y_test,y_test_pred_rtc))

0.9643679073089437

In [41]:
data = [["KNeighborsClassifier",0.965582890246805],["LogisticRegression",0.9027999365129752],["SVC",0.9758749305610666],["DecisionTreeClassifier",0.8524720260296802],["RandomForestClassifier",0.9649234187762876]]
data = pd.DataFrame(data, columns=["classifiers","prediction"])

In [42]:
data

              classifiers  prediction
0    KNeighborsClassifier    0.965583
1      LogisticRegression    0.902800
2                     SVC    0.975875
3  DecisionTreeClassifier    0.852472
4  RandomForestClassifier    0.964923

## Model Serialization

In [52]:
from pickle import dump
dump(KNeighborsClassifier,open('models/KNeighborsClassifier_model.pkl','wb'))
dump(LogisticRegression,open('models/LogisticRegression_model.pkl','wb'))
dump(SVC,open('models/SVC_model.pkl','wb'))
dump(DecisionTreeClassifier,open('models/(DecisionTreeClassifier_model.pkl','wb'))
dump(RandomForestClassifier,open('models/RandomForestClassifier_model.pkl','wb'))